.container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 7px;
}

.avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-position: center center;
  background-size: cover;
}

.txt {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 0.7rem;
}
